@font-face {
  font-family: 'ralewayregular';
  src: url('../font/kits/raleway-regular-webfont.woff2') format('woff2'),
  url('../font/kits/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}