header {
  background: #000;
  width: 100%;
}

.blackStripe {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

#logo {
  padding: 20px;
}

.on {
  font-weight: 900;
  color: $color-standardGreen;
}